<a href="/brewpage-openapi/" class="btn btn-ghost text-xl font-headline normal-case gap-2 -ml-3">
  <img src="/brewpage-openapi/favicon.svg" alt="BrewPage" class="w-7 h-7" />
  <span class="text-base-content">BrewPage <span class="text-primary font-normal text-sm">Docs</span></span>
</a>
